BASE_URL=http://localhost
PORT=3000
PG_URL=postgres://okanban:okanban@localhost/okanban
SECRET=JCpFisFiidP2NkNUBd5MeoEUOVsEfGwQwohk4eL/6RqxpUlrawd2T1NIH+29x49n6iS4xDmzyh57xxWFUrpOKwod8jpCg7XcV7AdOHzb/qXApWr01ot5IGTrjDmU5/20GLt0zAsBWyGxFXaiV9j2QHWOPHNKvoyKvGpJ49B+JDnr9VTrq7KRFhRRLGPnz9ItllvzzDQT252CxYk1Vi5hHxqKnjtDzj7WLBjiR3vwFjJuXvm8PcbYaWbdwagg+AMtJou3oZS1ds1F2F2GCZ3duPGqcpVVbqVmY52cUHLO1fqi2+vV57rqMUgT8veBDHDKqgLQe7dA+clc5a7F/tTx1A==
TOKEN_SECRET=jLe3Mw1SJcpoarpctH3kNLnl+uuIDc37aZp9CNF77pb9AL1qD728xUavp80FZ0s6N8WSgXIBlMPPIuIcnWLTuQsOleaKM/A3A3sebkey8CAqZFjvkrnxnukvk15rWy4N5Y7Y0bSO79SbIi8b0pmC4ed9dnGSM098yH9nB3BgmPsn032wIyHK+VQDYtAN25fUcBv0MYDDbBbup4+IfWhVJK4Ei8mczlUW5J0Gkwjryko+9QzhDkzUI8lwrzfalGtm/LTpBLNIvfdvAagydhUi5e4UaxgB1BVCJfSBb6+3/64cAKClCO/u+LanRg+aK4FIVUscJzpm2O8HypAxIb16uA==